.main-container {
  min-height: 100px;
}

div.main-container {
  overflow-y: scroll;
  max-height: 60vh;
  min-height: 60vh;
}

.btn-1 {
  min-width: 60px;
  color: white;
}

.toggle-btn {
  min-height: 60px;
  border-radius: 50%;
  background-color: blue;
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
}

.add-form {
  margin-left: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

form button {
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(14, 175, 14);
  font-size: 1rem;
}

form label input[type='text'] {
  background: rgba(255, 255, 255, 0.5);
}
